@charset "UTF-8";

:root{
  --background-color-sj : #ffffff;
  --text-color-sj : #142b6f;
  --btn-color-sj : #142b6f;
  --btn-hover-color-sj : #ffd601;
  --btn-focus-color-sj : #142b6f;
  --main-background-color-sj : #ffffff;
  --main-text-color-sj : #ffffff;
  --intro-background-color-sj : #142b6f;
  --contain-background-color-sj : #142b6f;
  --menu-background-color-sj : #fff7ef;
}
/* 포인트 글씨 */
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 메인 글씨 */
@font-face {
  font-family: 'Middleschool_student';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.intro-box{
  box-sizing: border-box;
  width: 100%;
  height: 488px;
  background-color: var(--intro-background-color-sj);
}
#computing_thinking{
  background: var(--main-background-color-sj);
  height: 90em;
}
#computing_coding_subject{
  overflow: auto;
  background: var(--main-background-color-sj);
  height: 60em;
}
#computing_coding{
  background: var(--main-background-color-sj);
  height: 90em;
}
/* ======= Base ======= */
body {
  font-family: 'Middleschool_student';
  color: #ffffff;
  font-weight: 800;
}
body {
  margin: 0;
}
body {
  font-size: 16px;
}
a {
  font-weight: normal;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: none;
}
html {
  position: relative;
  min-height: 100%;
}
input[type="submit"] {
  background: #38312f;
  color: white;
  max-width: 22.2em;
  min-width: 11.1em;
  padding: 0.8em;
  min-height: 45px;
  outline: none;
  border: none;
  font-family: 'Middleschool_student';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
  font-size: 0.813em;
  line-height: 1.85;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
  cursor: pointer;
  background: black;
}

input[type="search"] {
  margin-right: 1.5em;
  padding-right: 0.375em;
  /* so safari 'x' doesn't get cut off */
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  
}
div.screenshot-container div.content {
  padding: 20px;
  border: 0.2px solid #a7a7a7;
  background-color: white;
  text-align: center;
  width: 100%;
}
/*section*/
.section ul li {
  list-style-type: square;
}
.section ul.slides li {
  list-style-type: none;
}
section.screenshots .title {
  text-align: center;
  margin-top: -52px;
}
section.screenshots {
  background-color: var(--main-background-color-sj);
}
/* main */
#main {
  overflow: auto;
  background: var(--main-background-color-sj);
  height: 60em;
}
#main,
#title-info,
#toggle-navigation,
#site-header,
#site-footer {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}
#main>div.container {
  padding-right: 0;
  padding-left: 0;
  margin-top: 14rem;
}
/* header */
.header {
  /* position: absolute; */
  padding: 23px 0;
  background: var(--background-color-sj);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  max-height: 50px;
}
.header h1.logo a {
  color: #444444;
}
.header h1.logo a img {
  margin-right: 5px;
  max-height: 50px;
}
.header .main-nav button {
  background: var(--btn-color-sj);
  color: #fff !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.header .main-nav button:focus {
  outline: none;
}

.header .main-nav button .icon-bar {
  background-color: #fff;
}

.header .main-nav .nav .nav-item {
  font-weight: 600;
  /*text-transform: uppercase;*/
  font-size: 27px;
  margin-right: -10;
}

.header .main-nav .nav .nav-item.active a {
  background: none;
}

.header .main-nav .nav .nav-item a {
  color: var(--text-color-sj);
  font-family: 'Cafe24Ssurround';
  font-size: 23px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.header .main-nav .nav .nav-item a:hover {
  color: var(--btn-hover-color-sj);
  background: none;
}

.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}

.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}

.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
.header-search-input {
  position: absolute;
  top: 40px;
  right: 15;
  width: 280px;
  max-width: 260px !important;
  height: 48px;
  box-shadow: 7px 8px 16px rgba(0, 0, 0, 0.2);
}
.header-search-input:focus {
  outline: none;
}
/*navbar*/
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-header {
  float: none;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar-collapse {
  max-height: 360px;
}
.nav-btn {
  font-size: 22px;
  color: white;
  height: 34px;
  display: inline-flex;
  align-items: center;
}  
.nav-btn:focus {
  color: var(--btn-focus-color-sj);
}
.nav-btn-search {
  width: 40px;
  padding: 10px;
}
.nav-btn-login {
  width: 56px;
  padding: 10px;
  font-family: Cafe24Ssurround;
  font-size: 1.35rem;
}
.nav-btn-mobile {
  display: none;
}
.nav-btn-desktop {
  display: inline-flex;
  margin-right: 15px;
}

/*container*/
.container{
  padding-bottom: 15px;
  
  
}
.container .promo {
  background-color: inherit;
  
}
.container-fluid {
  padding: 0;
  padding-top: 65px
}

/*image*/
#logo-image {
  position: absolute;
  top: 0px;
  max-height: 102px;
}

/*btn*/
.btn {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.btn .fa {
  color: #fff;
  margin-right: 5px;
}
.btn-warning {
  background-color: var(--btn-color-sj);
  border: none;
}
.btn-warning:hover {
  color: var(--btn-focus-color-sj);
  background-color: var(--btn-hover-color-sj) !important;
  border: none;
}

/*search*/
.search-widget-workflow {
  max-width: 100% !important;
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.search-wrapper {
  display: flex;
  align-items: center;
}

/*offset*/
.offset-header {
  padding-top: 3px;
}
.has-pattern {
  background-image: none;
}

/*Promo Section*/
#promo .row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-top: 20px !important;
}
.row h2.title {
  margin-bottom: 30px;
}
.row h2.firstpagetitle {
  margin-bottom: 15px;
  line-height: 130%;
  font-size: 40px;
}
.row h6.title {
  margin-bottom: 30px;
}
.row h6.firstpagetitle {
  margin-bottom: 15px;
  line-height: 130%;
  font-size: 40px;
}
.promo ul {
  padding-left: 0;
}
.promo .container {
  padding-bottom: 100px;
}
.promo .overview {
  margin-top: 10px;
  padding-right: 30px;
  padding-left: 20px;
}
.promo .overview h1 {
  font-size: 30px;
  margin-bottom: 35px;
}
.promo .overview .summary {
  margin-bottom: 0;
}
.promo .overview .summary li {
  margin-bottom: 15px;
  list-style: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.1;
  padding-left: 0;
  margin-left: 0;
}
.overview .content p {
  font-weight: 300;
}
.overview .content p {
  font-weight: 300;
}
.content>p {
  font-weight: 300;
}

/*titleimag*/
.titleimage {
  margin-top: 30px;
  margin-bottom: auto;
}

.titleimage img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-height: 300px;
  max-width: 100%;
  height: 300px;
  width: 100%;
}

.titleimage img.left {
  padding: 0 40px 10px 0;
}

.titleimage img.right {
  padding: 0 10px 10px 0;
}

img {
  max-width: 100%;
}

/*h*/
h1,
.h1 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 18px;
  padding-top: 25px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

h1{
  font-weight: 800;
  font-size: 30px;
  font-family: "Cafe24Ssurround";
  color: var(--text-color-sj);
}
h2{
  font-weight: 800;
  font-family: "Cafe24Ssurround";
  color: var(--main-text-color-sj);
}
h3{
  font-weight: 800;
  font-size: 25px;
  font-family: "Middleschool_student";
  color: var(--main-text-color-sj);
}
h4{
  font-weight: 100;
  font-family: "Cafe24Ssurround";
  color: var(--text-color-sj);
}
h5{
  font-size: 25px;
  font-family: "Middleschool_student";
  color: black;
  margin-left: 10px;
}

h6{
  font-weight: 100;
  font-family: "Cafe24Ssurround";
  color: var(--text-color-sj);
  margin-top: 40px;
}
/*features*/
.features {
  height: 150rem;
}
.features h1.title {
  margin: 10px 0 40px;
}

.features .content p {
  padding: 0;
  font-weight: 300;
}

#features div.screenshot-container {
  margin: 0 auto 60px auto;
  padding-left: 30px;
  padding-right: 30px;
}
.features .content .screenshot-container p.screenshot-title {
  bottom: 20px;
  left: 0%;
  width: 100%;
  color: #444;
  font-size: 16px;
  margin-bottom: 0;
  padding: 0 50px 0 50px;
}
/*screenshot*/
.screenshot {
  -webkit-transition: -webkit-transform ease-out 0.2s, background 0.3s;
  -moz-transition: -moz-transform ease-out 0.2s, background 0.3s;
  -ms-transition: -ms-transform ease-out 0.2s, background 0.3s;
  -o-transition: -o-transform ease-out 0.2s, background 0.3s;
}
.screenshot-image {
  bottom: 0;
  width: 100%;
}
.padding-top-page {
  padding-top: 50px;
}


/* ======= Footer ======= */
.footer {
  background: #444444;
  padding: 10px 0;
  color: #fff;
  bottom: 0;
  width: 100%;
  height: 5em;
  /* Set the fixed height of the footer here */
  min-height: 100px;
}
.footer .copyright {
  color: #b3b3b3;
  margin-top: 4px;
  margin-right: 15px;
}

.intro {
  padding-bottom: 300px !important;
}
.bigsummary {
  font-family: 'Middleschool_student';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
  font-size: 30px;
}


@media (max-width: 568px) {
  .titleimage img {
    max-width: 70% !important;
    text-align: center;
  }

  .titleimage {
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  #features div.screenshot-container div.content {
    margin: 0;
  }
  .features .content .screenshot-container p.screenshot-title {
    margin-top: 20px;
  }
  .features {
    padding-top: 5px !important;
  }
  .feature-title,
  .promo .row h1.firstpagetitle {
    font-size: 25px !important;
  }

  #features .feature-panel .content {
    font-size: 16px !important;
  }

  .overview .content p {
    font-size: 16px !important;
  }
  .titleimage img {
    max-width: 55% !important;
    text-align: center;
  }

  .titleimage {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .screenshot {
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
  }
}
@media (max-width: 1100px) {

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .nav-btn-mobile {
    display: inline-flex;
  }
  .nav-btn-desktop {
    display: none;
  }
  .nav-btn {
    font-size: 22px;
    color: white;
    height: 34px;
    display: inline-flex;
    align-items: center;   
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
    display: block;
  }

  .navbar-nav>li {
    float: none;
  }
  .intro-box{
    height: 700px;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-search-input {
    display: none;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 1101px) {
  #main-page-download-button {
    display: none;
  }
  .intro {
    padding: 0px !important;
    padding-left: 5% !important;
  }
  .titleimage img.left,
  .titleimage img.right {
    padding: 0 0 10px 0;
    margin-right: 0;
    margin-left: 0;
    max-height: inherit;
  }
  .footer-pad {
    padding-left: 5% !important;
  }
  .features .feature-image img.left,
  .features .feature-image img.right {
    padding: 0 0 10px 0;
    margin-right: 0;
    margin-left: 0;
    max-height: inherit;
  }
}

@media (min-width: 1102px) {
  #features div.screenshot-container div.content {
    height: 285px;
    margin: 0;
  }
  .features .content .screenshot-container p.screenshot-title {
    position: absolute;
  }
  .intro {
    padding: 0px !important;
  }
  .footer {
    position: absolute;
  }
  body {
    margin-bottom: 90px;
  }
}
@media (min-width: 1102px) {
  body {
    margin-bottom: 260px;
  }
  .intro {
    padding: 0px !important;
  }
}
@media (min-width: 1190px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1200px) {
  #features div.screenshot-container div.content {
    height: 500px;
    margin: 0;
  }

  .features .content .screenshot-container p.screenshot-title {
    position: absolute;
  }
  .screenshot-image {
    max-height: 420px;
    max-width: 800px;
    width: 800px;
  }

  .screenshot {
    height: 420px;
  }
  .container {
    width: auto;
  }
}
@media (min-width: 1200px) {
  #features div.screenshot-container div.content {
    height: 500px;
    margin: 0;
  }

  .features .content .screenshot-container p.screenshot-title {
    position: absolute;
  }

  .screenshot-image {
    max-height: 420px;
    max-width: 800px;
    width: 800px;
  }

  .screenshot {
    height: 420px;
  }
}
@media (max-width: 1349px) {
  .titleimage {
    padding-top: 5px;
  }
  
  .feature-title,
  .promo .row h1.firstpagetitle {
    font-size: 50px !important;
  }
}

@media (min-width: 1350px) {
  .feature-title,
  .promo .row h1.firstpagetitle {
    font-size: 34px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    -webkit-text-size-adjust: none;
    /* none for no scaling */
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #features div.screenshot-container div.content {
    height: 330px;
    margin: 0;
  }
  .features .content .screenshot-container p.screenshot-title {
    position: absolute;
  }

  .screenshot-image {
    max-height: 270px;
    max-width: 600px;
    width: 600px;
  }

  .screenshot {
    height: 270px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #features div.screenshot-container div.content {
    height: 285px;
    margin: 0;
  }

  .features .content .screenshot-container p.screenshot-title {
    position: absolute;
  }

  .screenshot-image {
    max-height: 220px;
    max-width: 380px;
    width: 380px;
  }
  .screenshot {
    height: 220px;
  }
}