* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #99ccff;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
}

h3 {
  text-align: center;
}

.join-form {
  width: calc(100% - 20px);
  border-radius: 6px;
  max-width: 500px;
  background-color: #fff;
  padding: 30px 40px;
}

.join-form h1 {
  text-align: center;
  margin-top: 3px;
  margin-right: 5px;
  margin-bottom: 30px;
  margin-left: 5px;
  font-size: 2.3rem;
  color: #111;
}

.join-form h2 {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: #111;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
  transition: .2s linear;
}

.textb {
  margin-bottom: 12px;
  position: relative;
}

.textb input {
  width: 100%;
  height: 70px;
  border: none;
  background-color: #ededed;
  border-radius: 4px;
  color: #333;
  font-size: 1.0rem;
  font-weight: 700;
  padding: 14px 60px 0 10px;
}

.placeholder {
  font-size: 1.0rem;
  font-weight: 700;
  position: absolute;
  line-height: 70px;
  top: 0;
  left: 20px;
  color: #9d9d9d;
  user-select: none;
  pointer-events: none;
}

.show-password {
  position: absolute;
  right: 20px;
  line-height: 70px;
  color: #9d9d9d;
  font-size: 1.3rem;
  cursor: pointer;
}

.show-password2 {
  position: absolute;
  right: 20px;
  line-height: 70px;
  color: #9d9d9d;
  font-size: 1.3rem;
  cursor: pointer;
}

.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder {
  left: 10px;
  top: -10px;
}

.btn {
  display: block;
  width: 400px;
  height: 40px;
  margin: 40px auto;
  background-color: #B3D9FF;
  color: #000;
  font-size: 1.1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #ddd;
  transition: .3s linear;
}
.btn:active{
  box-shadow: none;
}
.btn:hover {
  opacity: .85;
}

.join-form a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: #ffbc44;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
  transition: .2s linear;
}

.join-form a:hover {
  color: #ddd;
}

.btn:disabled {
  background-color: transparent;
  color: #ddd;
  border: 2px solid;
}
