* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--contain-background-color-sj);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Cafe24Ssurround';
}
#login{
  font-size: 30px;
  font-family: "Cafe24Ssurround";
  color: var(--text-color-sj);
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
}
.login-form {
  width: calc(100% - 20px);
  border-radius: 6px;
  max-width: 500px;
  background-color: #fff;
  padding: 30px 40px;
  margin-top: 250px;
}

.login-form h1 {
  text-align: center;
  margin-top: 3px;
  margin-right: 5px;
  margin-bottom: 30px;
  margin-left: 5px;
  font-size: 2.3rem;
  color: #111;
}

.login-form h2 {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: #111;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
  transition: .2s linear;
}

.textb {
  margin-bottom: 12px;
  position: relative;
}

.textb input {
  font-family: 'Middleschool_student';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
  width: 100%;
  height: 70px;
  border: none;
  background-color: #ededed;
  border-radius: 4px;
  color: #333;
  font-size: 1.0rem;
  font-weight: 700;
  padding: 14px 60px 0 10px;
}

.placeholder {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  line-height: 56px;
  top: 0;
  left: 20px;
  color: #9d9d9d;
  user-select: none;
  pointer-events: none;
}

.show-password {
  position: absolute;
  right: 20px;
  line-height: 70px;
  color: #9d9d9d;
  font-size: 1.3rem;
  cursor: pointer;
}

.textb input:focus ~ .placeholder,
.textb input:valid ~ .placeholder {
  left: 10px;
  top: -10px;
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  margin: 20px 0;
}

.checkbox input {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  background-color: #ededed;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox input:checked + .fa-check {
  opacity: 1;
}

.checkbox .fa-check {
  position: absolute;
  color: #fff;
  font-size: 1.5rem;
  width: 24px;
  text-align: center;
  pointer-events: none;
  opacity: 0;
}

.checkbox input:checked {
  background-color: #ffd601;
}

.checkbox input:checked + .fa-check {
  opacity: 1;
}

.btn {
  font-family: 'Middleschool_student';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
  display: block;
  width: 400px;
  height: 40px;
  margin: 40px auto;
  background-color: var(--btn-color-sj );
  color: #ffffff;
  font-size: 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #ddd;
  transition: .3s linear;
}
.btn:active{
  box-shadow: none;
}
.btn:hover {
  opacity: .85;
}

.login-form a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffd601;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
  transition: .2s linear;
}

.login-form b {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-color-sj);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 8px;
  transition: .2s linear;
}

.login-form a:hover {
  color: #ddd;
}

.btn:disabled {
  background-color: transparent;
  color: #ddd;
  border: 2px solid;
}
